@page
@model IndexModel
@{
    ViewData["Title"] = "Bet of the day";
}

<h1>Generated BET</h1>

@if (Model.Bet is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Home</th>
                <th>Away</th>
                <th>Prediction</th>
                <th>Confidence (%)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Model.Bet.Predictions)
            {
                <tr>
                    <td>@match.HomeTeam</td>
                    <td>@match.AwayTeam</td>
                    <td>@match.PredictedOutcome</td>
                    <td>@match.Confidence%</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Errore nel recupero della schedina.</p>
}